default/API-FLOW.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1777457019401,
    "description" : "Gets data from weatherstack API",
    "identifier" : "API-FLOW",
    "lastModifiedTimestamp" : 1777457019401,
    "name" : "API FLOW",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "ef28c13f-e6c8-3b35-96d4-94ce30606f82",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b2563ff-e8d4-3e75-8780-715e1cb09214",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "id" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
        "name" : "Failure_Output",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 1
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "NiFi_Flow",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
          "name" : "Failure_Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "066a9c03-3e61-3e0e-a030-92f5ddda4af3",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "82c96129-756f-3b40-aea8-fa4f1c174f1d",
          "name" : "ExecuteSQLRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 19
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "d8be3b70-5422-31d4-a558-faa663c038b6",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "0f71b0be-1c79-3526-9505-2be884aba82e",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "74dcba23-2306-3279-8d77-d0d94d0b7623",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 16
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "919ab41c-b587-3f6b-b888-8e667cd17c9c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "0fa0b3fb-9360-3c97-826f-ec10de77ba0d",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "ed02534e-54d6-3553-8db9-7c5f59df1f5c",
          "name" : "QueryDatabaseTable",
          "type" : "PROCESSOR"
        },
        "zIndex" : 2
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "82c96129-756f-3b40-aea8-fa4f1c174f1d",
          "name" : "ExecuteSQLRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "1d2d89cc-f3a1-3987-9bba-2178be5d4510",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "19ff1ce8-b70f-3449-992c-3349118b46cb",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "zIndex" : 13
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "6980ac77-56e7-3cd9-a36e-c52c22cfaaa3",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "1f677281-70b5-33a7-a6db-65d44331c9b9",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "e546f066-3153-3573-a1f0-13ddfdc0c6e2",
          "name" : "GenerateFlowFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 21
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "0695ffe0-3f9b-3f7a-8cd3-a96799abb18d",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "2581dfd8-5569-3b18-9e7b-ceb192e6788b",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "1c084b8f-0a62-386d-86c0-c2bb921bac20",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 8
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
          "name" : "Failure_Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "48cacbdb-d720-37bc-983a-841d84ca8b15",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "74dcba23-2306-3279-8d77-d0d94d0b7623",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 17
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "a32c7bd7-6c79-3dd7-926f-a9ce3ea9db0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "493456ab-8435-3191-864d-5d79b2ce7b82",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "82c96129-756f-3b40-aea8-fa4f1c174f1d",
          "name" : "ExecuteSQLRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 14
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
          "name" : "Failure_Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "582cda5e-a586-36ba-85ea-cdaf4779e55c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "6980ac77-56e7-3cd9-a36e-c52c22cfaaa3",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 20
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
          "name" : "Failure_Output",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "5894295b-0b63-3fc9-944d-1776522c2025",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "a32c7bd7-6c79-3dd7-926f-a9ce3ea9db0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 18
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "1c084b8f-0a62-386d-86c0-c2bb921bac20",
          "name" : "ConvertRecord",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "bc83e482-bce4-32be-ad05-1064cd2ce59c",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "split" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "5860945a-f842-337c-a08f-e337b37d3216",
          "name" : "SplitAvro",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "74dcba23-2306-3279-8d77-d0d94d0b7623",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "e5a737cf-1687-3800-aa90-2d02400c0939",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "a32c7bd7-6c79-3dd7-926f-a9ce3ea9db0c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 15
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "5860945a-f842-337c-a08f-e337b37d3216",
          "name" : "SplitAvro",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "e626a16e-ba55-3a3b-9713-15ab605bd9c5",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "6980ac77-56e7-3cd9-a36e-c52c22cfaaa3",
          "name" : "ExecuteSQL",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "9cd29b4d-f045-3b71-97a7-e6e88607b090",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "e7b98020-f0cb-3b6f-8290-a9bb2334e7db",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "919ab41c-b587-3f6b-b888-8e667cd17c9c",
          "name" : "PutDatabaseRecord",
          "type" : "PROCESSOR"
        },
        "zIndex" : 3
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "19ff1ce8-b70f-3449-992c-3349118b46cb",
          "name" : "UpdateAttribute",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "ee5363a6-b695-3fa3-95af-6e9fe67cbc67",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
          "id" : "0695ffe0-3f9b-3f7a-8cd3-a96799abb18d",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 9
      } ],
      "controllerServices" : [ {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.8.0"
          },
          "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
        } ],
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "86da6b9a-cb35-3803-86f4-a378f48b6274",
        "name" : "AvroRecordSetWriter",
        "properties" : {
          "Schema Text" : "${avro.schema}",
          "Schema Access Strategy" : "inherit-record-schema",
          "Schema Name" : "${schema.name}",
          "Schema Write Strategy" : "avro-embedded",
          "Encoder Pool Size" : "32",
          "Compression Format" : "NONE",
          "Cache Size" : "1000"
        },
        "propertyDescriptors" : {
          "Schema Branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Branch",
            "sensitive" : false
          },
          "Schema Reference Reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Reader",
            "sensitive" : false
          },
          "Schema Text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Text",
            "sensitive" : false
          },
          "Schema Registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Registry",
            "sensitive" : false
          },
          "Schema Access Strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Access Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Schema Write Strategy" : {
            "displayName" : "Schema Write Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Write Strategy",
            "sensitive" : false
          },
          "Encoder Pool Size" : {
            "displayName" : "Encoder Pool Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Encoder Pool Size",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Schema Cache" : {
            "displayName" : "Schema Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Cache",
            "sensitive" : false
          },
          "Schema Version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Version",
            "sensitive" : false
          },
          "Cache Size" : {
            "displayName" : "Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Size",
            "sensitive" : false
          },
          "Schema Reference Writer" : {
            "displayName" : "Schema Reference Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Writer",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.8.0"
          },
          "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
        } ],
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "cae5b5e4-cf05-3a65-a968-b0338c62f959",
        "name" : "JsonRecordSetWriter",
        "properties" : {
          "Schema Text" : "${avro.schema}",
          "Allow Scientific Notation" : "false",
          "Compression Level" : "1",
          "Output Grouping" : "output-array",
          "Schema Access Strategy" : "inherit-record-schema",
          "Schema Name" : "${schema.name}",
          "Pretty Print JSON" : "false",
          "Suppress Null Values" : "never-suppress",
          "Schema Write Strategy" : "no-schema",
          "Compression Format" : "none"
        },
        "propertyDescriptors" : {
          "Schema Branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Branch",
            "sensitive" : false
          },
          "Schema Reference Reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Reader",
            "sensitive" : false
          },
          "Schema Text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Text",
            "sensitive" : false
          },
          "Allow Scientific Notation" : {
            "displayName" : "Allow Scientific Notation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Scientific Notation",
            "sensitive" : false
          },
          "Compression Level" : {
            "displayName" : "Compression Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Level",
            "sensitive" : false
          },
          "Output Grouping" : {
            "displayName" : "Output Grouping",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Grouping",
            "sensitive" : false
          },
          "Schema Registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Registry",
            "sensitive" : false
          },
          "Schema Access Strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Access Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Timestamp Format" : {
            "displayName" : "Timestamp Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Timestamp Format",
            "sensitive" : false
          },
          "Date Format" : {
            "displayName" : "Date Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Date Format",
            "sensitive" : false
          },
          "Pretty Print JSON" : {
            "displayName" : "Pretty Print JSON",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pretty Print JSON",
            "sensitive" : false
          },
          "Suppress Null Values" : {
            "displayName" : "Suppress Null Values",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Suppress Null Values",
            "sensitive" : false
          },
          "Schema Write Strategy" : {
            "displayName" : "Schema Write Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Write Strategy",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Schema Cache" : {
            "displayName" : "Schema Cache",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Cache",
            "sensitive" : false
          },
          "Schema Version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Version",
            "sensitive" : false
          },
          "Time Format" : {
            "displayName" : "Time Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Format",
            "sensitive" : false
          },
          "Schema Reference Writer" : {
            "displayName" : "Schema Reference Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Writer",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.json.JsonRecordSetWriter"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-record-serialization-services-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.8.0"
          },
          "type" : "org.apache.nifi.serialization.RecordReaderFactory"
        } ],
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "da5fbd0e-e2ec-3a63-8499-495b47a87a7a",
        "name" : "AvroReader",
        "properties" : {
          "Schema Text" : "${avro.schema}",
          "Cache Size" : "1000",
          "Fast Reader Enabled" : "true",
          "Schema Access Strategy" : "embedded-avro-schema",
          "Schema Name" : "${schema.name}"
        },
        "propertyDescriptors" : {
          "Schema Branch" : {
            "displayName" : "Schema Branch",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Branch",
            "sensitive" : false
          },
          "Schema Reference Reader" : {
            "displayName" : "Schema Reference Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Reference Reader",
            "sensitive" : false
          },
          "Schema Text" : {
            "displayName" : "Schema Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Text",
            "sensitive" : false
          },
          "Schema Version" : {
            "displayName" : "Schema Version",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Version",
            "sensitive" : false
          },
          "Cache Size" : {
            "displayName" : "Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Size",
            "sensitive" : false
          },
          "Fast Reader Enabled" : {
            "displayName" : "Fast Reader Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fast Reader Enabled",
            "sensitive" : false
          },
          "Schema Registry" : {
            "displayName" : "Schema Registry",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Schema Registry",
            "sensitive" : false
          },
          "Schema Access Strategy" : {
            "displayName" : "Schema Access Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Access Strategy",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.avro.AvroReader"
      }, {
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-dbcp-service-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "CONTROLLER_SERVICE",
        "controllerServiceApis" : [ {
          "bundle" : {
            "artifact" : "nifi-standard-services-api-nar",
            "group" : "org.apache.nifi",
            "version" : "2.8.0"
          },
          "type" : "org.apache.nifi.dbcp.DBCPService"
        } ],
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
        "name" : "DBCPConnectionPool",
        "properties" : {
          "Maximum Idle Connections" : "8",
          "Database Driver Locations" : "/opt/nifi/nifi-current/drivers/mssql-jdbc.jar",
          "Max Wait Time" : "500 millis",
          "Database Driver Class Name" : "com.microsoft.sqlserver.jdbc.SQLServerDriver",
          "Minimum Idle Connections" : "0",
          "Max Total Connections" : "8",
          "Database Connection URL" : "jdbc:sqlserver://dxpoc.database.windows.net:1433;databaseName=dxpoc;encrypt=true;",
          "Password Source" : "PASSWORD",
          "Time Between Eviction Runs" : "-1",
          "Database User" : "sqladmin",
          "Soft Minimum Evictable Idle Time" : "-1",
          "Maximum Connection Lifetime" : "-1",
          "Minimum Evictable Idle Time" : "30 mins"
        },
        "propertyDescriptors" : {
          "Maximum Idle Connections" : {
            "displayName" : "Maximum Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Idle Connections",
            "sensitive" : false
          },
          "Database Driver Locations" : {
            "displayName" : "Database Driver Locations",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Driver Locations",
            "resourceDefinition" : {
              "cardinality" : "MULTIPLE",
              "resourceTypes" : [ "DIRECTORY", "FILE", "URL" ]
            },
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Driver Class Name" : {
            "displayName" : "Database Driver Class Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Driver Class Name",
            "sensitive" : false
          },
          "Minimum Idle Connections" : {
            "displayName" : "Minimum Idle Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum Idle Connections",
            "sensitive" : false
          },
          "Kerberos User Service" : {
            "displayName" : "Kerberos User Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Kerberos User Service",
            "sensitive" : false
          },
          "Max Total Connections" : {
            "displayName" : "Max Total Connections",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Total Connections",
            "sensitive" : false
          },
          "Validation Query" : {
            "displayName" : "Validation Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Validation Query",
            "sensitive" : false
          },
          "Database Password Provider" : {
            "displayName" : "Database Password Provider",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Password Provider",
            "sensitive" : false
          },
          "Database Connection URL" : {
            "displayName" : "Database Connection URL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Connection URL",
            "sensitive" : false
          },
          "Password Source" : {
            "displayName" : "Password Source",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password Source",
            "sensitive" : false
          },
          "Time Between Eviction Runs" : {
            "displayName" : "Time Between Eviction Runs",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Time Between Eviction Runs",
            "sensitive" : false
          },
          "Database User" : {
            "displayName" : "Database User",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database User",
            "sensitive" : false
          },
          "Soft Minimum Evictable Idle Time" : {
            "displayName" : "Soft Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Soft Minimum Evictable Idle Time",
            "sensitive" : false
          },
          "Maximum Connection Lifetime" : {
            "displayName" : "Maximum Connection Lifetime",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Connection Lifetime",
            "sensitive" : false
          },
          "Minimum Evictable Idle Time" : {
            "displayName" : "Minimum Evictable Idle Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Minimum Evictable Idle Time",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "scheduledState" : "DISABLED",
        "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
      } ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "9cd29b4d-f045-3b71-97a7-e6e88607b090",
        "position" : {
          "x" : 88.0,
          "y" : 288.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "d8be3b70-5422-31d4-a558-faa663c038b6",
        "position" : {
          "x" : 680.0,
          "y" : 1424.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
      "inputPorts" : [ ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "Test",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "bd4003ce-bf7f-309b-b878-d3520b3299c0",
        "name" : "Failure_Output",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : 1200.0,
          "y" : 200.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "position" : {
        "x" : -216.0,
        "y" : -360.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ "failure", "unmatched" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "0695ffe0-3f9b-3f7a-8cd3-a96799abb18d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 528.0,
          "y" : 344.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "stage_table" : "$[0].stage_table",
          "target_schema" : "$[0].target_schema",
          "last_watermark_value" : "$[0].last_watermark_value",
          "Max String Length" : "20 MB",
          "watermark_column" : "$[0].watermark_column",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "Path Not Found Behavior" : "ignore",
          "key_column" : "$[0].key_column",
          "target_table" : "$[0].target_table",
          "source_table" : "$[0].source_table",
          "source_schema" : "$[0].source_schema"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "stage_table" : {
            "displayName" : "stage_table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "stage_table",
            "sensitive" : false
          },
          "target_schema" : {
            "displayName" : "target_schema",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "target_schema",
            "sensitive" : false
          },
          "last_watermark_value" : {
            "displayName" : "last_watermark_value",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "last_watermark_value",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "watermark_column" : {
            "displayName" : "watermark_column",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "watermark_column",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          },
          "key_column" : {
            "displayName" : "key_column",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "key_column",
            "sensitive" : false
          },
          "target_table" : {
            "displayName" : "target_table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "target_table",
            "sensitive" : false
          },
          "source_table" : {
            "displayName" : "source_table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "source_table",
            "sensitive" : false
          },
          "source_schema" : {
            "displayName" : "source_schema",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "source_schema",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-update-attribute-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "19ff1ce8-b70f-3449-992c-3349118b46cb",
        "maxBackoffPeriod" : "10 mins",
        "name" : "UpdateAttribute",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 544.0,
          "y" : 544.0
        },
        "properties" : {
          "stage.table" : "${stage_table}",
          "source.table" : "${source_table}",
          "target.schema" : "${target_schema}",
          "Store State" : "Do not store state",
          "watermark.column" : "${watermark_column}",
          "source.schema " : "${source_schema}",
          "key.column" : "${key_column}",
          "Cache Value Lookup Cache Size" : "100",
          "target.table" : "${target_table}",
          "last.watermark.value" : "${last_watermark_value}"
        },
        "propertyDescriptors" : {
          "stage.table" : {
            "displayName" : "stage.table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "stage.table",
            "sensitive" : false
          },
          "source.table" : {
            "displayName" : "source.table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "source.table",
            "sensitive" : false
          },
          "Delete Attributes Expression" : {
            "displayName" : "Delete Attributes Expression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Attributes Expression",
            "sensitive" : false
          },
          "target.schema" : {
            "displayName" : "target.schema",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "target.schema",
            "sensitive" : false
          },
          "Store State" : {
            "displayName" : "Store State",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Store State",
            "sensitive" : false
          },
          "watermark.column" : {
            "displayName" : "watermark.column",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "watermark.column",
            "sensitive" : false
          },
          "source.schema " : {
            "displayName" : "source.schema ",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "source.schema ",
            "sensitive" : false
          },
          "key.column" : {
            "displayName" : "key.column",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "key.column",
            "sensitive" : false
          },
          "Cache Value Lookup Cache Size" : {
            "displayName" : "Cache Value Lookup Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Cache Value Lookup Cache Size",
            "sensitive" : false
          },
          "Stateful Variables Initial Value" : {
            "displayName" : "Stateful Variables Initial Value",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stateful Variables Initial Value",
            "sensitive" : false
          },
          "target.table" : {
            "displayName" : "target.table",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "target.table",
            "sensitive" : false
          },
          "last.watermark.value" : {
            "displayName" : "last.watermark.value",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "last.watermark.value",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 25,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "1c084b8f-0a62-386d-86c0-c2bb921bac20",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ConvertRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 504.0,
          "y" : 136.0
        },
        "properties" : {
          "Include Zero Record FlowFiles" : "false",
          "Record Writer" : "cae5b5e4-cf05-3a65-a968-b0338c62f959",
          "Record Reader" : "da5fbd0e-e2ec-3a63-8499-495b47a87a7a"
        },
        "propertyDescriptors" : {
          "Include Zero Record FlowFiles" : {
            "displayName" : "Include Zero Record FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include Zero Record FlowFiles",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ConvertRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "original" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-avro-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "5860945a-f842-337c-a08f-e337b37d3216",
        "maxBackoffPeriod" : "10 mins",
        "name" : "SplitAvro",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 520.0,
          "y" : -80.0
        },
        "properties" : {
          "Split Strategy" : "Record",
          "Output Strategy" : "Datafile",
          "Transfer Metadata" : "true",
          "Output Size" : "1"
        },
        "propertyDescriptors" : {
          "Split Strategy" : {
            "displayName" : "Split Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Split Strategy",
            "sensitive" : false
          },
          "Output Strategy" : {
            "displayName" : "Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Strategy",
            "sensitive" : false
          },
          "Transfer Metadata" : {
            "displayName" : "Transfer Metadata",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transfer Metadata",
            "sensitive" : false
          },
          "Output Size" : {
            "displayName" : "Output Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Size",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.avro.SplitAvro",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "6980ac77-56e7-3cd9-a36e-c52c22cfaaa3",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQL",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 504.0,
          "y" : -304.0
        },
        "properties" : {
          "Set Auto Commit" : "true",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "select id,\n  source_schema,\n  source_table,\n  watermark_column,\n  key_column,\n  stage_table,\n  target_schema,\n  target_table,\n  last_watermark_value\nfrom dbo.ETL_CONTROL_SQLSERVER\nwhere is_active = 1\norder by load_order",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Default Decimal Scale" : "0",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Compression Format" : "NONE",
          "Normalize Table and Column Names" : "false",
          "Default Decimal Precision" : "10",
          "Max Rows Per FlowFile" : "0",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "SQL Post-Query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Post-Query",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Normalize Table and Column Names" : {
            "displayName" : "Normalize Table and Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table and Column Names",
            "sensitive" : false
          },
          "SQL Pre-Query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Pre-Query",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Max Rows Per FlowFile" : {
            "displayName" : "Max Rows Per FlowFile",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per FlowFile",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 2,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "74dcba23-2306-3279-8d77-d0d94d0b7623",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQL",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 616.0,
          "y" : 1216.0
        },
        "properties" : {
          "Set Auto Commit" : "true",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "UPDATE dbo.ETL_CONTROL_SQLSERVER\nSET last_watermark_value = (\n    SELECT MAX(${watermark_column})\n    FROM ${source_schema}.${source_table}\n)\nWHERE source_schema='${source_schema}' and source_table = '${source_table}'",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Default Decimal Scale" : "0",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Compression Format" : "NONE",
          "Normalize Table and Column Names" : "false",
          "Default Decimal Precision" : "10",
          "Max Rows Per FlowFile" : "0",
          "Content Output Strategy" : "EMPTY"
        },
        "propertyDescriptors" : {
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "SQL Post-Query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Post-Query",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Compression Format" : {
            "displayName" : "Compression Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Format",
            "sensitive" : false
          },
          "Normalize Table and Column Names" : {
            "displayName" : "Normalize Table and Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table and Column Names",
            "sensitive" : false
          },
          "SQL Pre-Query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Pre-Query",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Max Rows Per FlowFile" : {
            "displayName" : "Max Rows Per FlowFile",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per FlowFile",
            "sensitive" : false
          },
          "Content Output Strategy" : {
            "displayName" : "Content Output Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Content Output Strategy",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 2,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "82c96129-756f-3b40-aea8-fa4f1c174f1d",
        "maxBackoffPeriod" : "10 mins",
        "name" : "ExecuteSQLRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 512.0,
          "y" : 768.0
        },
        "properties" : {
          "Set Auto Commit" : "true",
          "Max Wait Time" : "0 seconds",
          "SQL Query" : "\nSELECT *\nFROM ${source_schema}.${source_table}\nWHERE ${watermark_column} > ${last_watermark_value}\n",
          "Normalize Table/Column Names" : "false",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Default Decimal Scale" : "0",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Record Writer" : "86da6b9a-cb35-3803-86f4-a378f48b6274",
          "Default Decimal Precision" : "10",
          "Max Rows Per FlowFile" : "0"
        },
        "propertyDescriptors" : {
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "SQL Query" : {
            "displayName" : "SQL Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Query",
            "sensitive" : false
          },
          "Normalize Table/Column Names" : {
            "displayName" : "Normalize Table/Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table/Column Names",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "SQL Post-Query" : {
            "displayName" : "SQL Post-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Post-Query",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Record Writer" : {
            "displayName" : "Record Writer",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Writer",
            "sensitive" : false
          },
          "SQL Pre-Query" : {
            "displayName" : "SQL Pre-Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "SQL Pre-Query",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Max Rows Per FlowFile" : {
            "displayName" : "Max Rows Per FlowFile",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per FlowFile",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "failure", "retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "919ab41c-b587-3f6b-b888-8e667cd17c9c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutDatabaseRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -152.0,
          "y" : -8.0
        },
        "properties" : {
          "Table Name" : "test1",
          "Quote Column Identifiers" : "false",
          "Max Wait Time" : "0 seconds",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Record Reader" : "da5fbd0e-e2ec-3a63-8499-495b47a87a7a",
          "Quote Table Identifiers" : "false",
          "Schema Name" : "dbo",
          "Database Session AutoCommit" : "false",
          "Unmatched Field Behavior" : "Ignore Unmatched Fields",
          "Database Name" : "dxpoc",
          "Allow Multiple SQL Statements" : "false",
          "Rollback On Failure" : "false",
          "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
          "Binary String Format" : "UTF-8",
          "Unmatched Column Behavior" : "Fail on Unmatched Columns",
          "Database Type" : "MS SQL 2012+",
          "Translate Field Names" : "true",
          "Statement Type" : "INSERT",
          "Table Schema Cache Size" : "100",
          "Maximum Batch Size" : "1000"
        },
        "propertyDescriptors" : {
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Quote Column Identifiers" : {
            "displayName" : "Quote Column Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Quote Column Identifiers",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Delete Keys" : {
            "displayName" : "Delete Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Keys",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Quote Table Identifiers" : {
            "displayName" : "Quote Table Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Quote Table Identifiers",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Database Session AutoCommit" : {
            "displayName" : "Database Session AutoCommit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Session AutoCommit",
            "sensitive" : false
          },
          "Unmatched Field Behavior" : {
            "displayName" : "Unmatched Field Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unmatched Field Behavior",
            "sensitive" : false
          },
          "Database Name" : {
            "displayName" : "Database Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Name",
            "sensitive" : false
          },
          "Allow Multiple SQL Statements" : {
            "displayName" : "Allow Multiple SQL Statements",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Multiple SQL Statements",
            "sensitive" : false
          },
          "Rollback On Failure" : {
            "displayName" : "Rollback On Failure",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Rollback On Failure",
            "sensitive" : false
          },
          "Update Keys" : {
            "displayName" : "Update Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Keys",
            "sensitive" : false
          },
          "Field Containing SQL" : {
            "displayName" : "Field Containing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Field Containing SQL",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          },
          "Data Record Path" : {
            "displayName" : "Data Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Record Path",
            "sensitive" : false
          },
          "Statement Type Record Path" : {
            "displayName" : "Statement Type Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type Record Path",
            "sensitive" : false
          },
          "Column Name Translation Pattern" : {
            "displayName" : "Column Name Translation Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Pattern",
            "sensitive" : false
          },
          "Column Name Translation Strategy" : {
            "displayName" : "Column Name Translation Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Strategy",
            "sensitive" : false
          },
          "Binary String Format" : {
            "displayName" : "Binary String Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Binary String Format",
            "sensitive" : false
          },
          "Unmatched Column Behavior" : {
            "displayName" : "Unmatched Column Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unmatched Column Behavior",
            "sensitive" : false
          },
          "Database Type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Type",
            "sensitive" : false
          },
          "Post-Processing SQL" : {
            "displayName" : "Post-Processing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Post-Processing SQL",
            "sensitive" : false
          },
          "Translate Field Names" : {
            "displayName" : "Translate Field Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Translate Field Names",
            "sensitive" : false
          },
          "Statement Type" : {
            "displayName" : "Statement Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type",
            "sensitive" : false
          },
          "Pre-Processing SQL" : {
            "displayName" : "Pre-Processing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pre-Processing SQL",
            "sensitive" : false
          },
          "Table Schema Cache Size" : {
            "displayName" : "Table Schema Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Cache Size",
            "sensitive" : false
          },
          "Maximum Batch Size" : {
            "displayName" : "Maximum Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Batch Size",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "DISABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ "retry" ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 2,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "a32c7bd7-6c79-3dd7-926f-a9ce3ea9db0c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutDatabaseRecord",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 576.0,
          "y" : 1008.0
        },
        "properties" : {
          "Table Name" : "${target_table}",
          "Quote Column Identifiers" : "false",
          "Max Wait Time" : "0 seconds",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Record Reader" : "da5fbd0e-e2ec-3a63-8499-495b47a87a7a",
          "Quote Table Identifiers" : "false",
          "Schema Name" : "${target_schema}",
          "Database Session AutoCommit" : "false",
          "Unmatched Field Behavior" : "Ignore Unmatched Fields",
          "Database Name" : "dxpoc",
          "Allow Multiple SQL Statements" : "false",
          "Rollback On Failure" : "false",
          "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
          "Binary String Format" : "UTF-8",
          "Unmatched Column Behavior" : "Fail on Unmatched Columns",
          "Database Type" : "MS SQL 2012+",
          "Translate Field Names" : "true",
          "Statement Type" : "INSERT",
          "Table Schema Cache Size" : "100",
          "Maximum Batch Size" : "1000"
        },
        "propertyDescriptors" : {
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Quote Column Identifiers" : {
            "displayName" : "Quote Column Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Quote Column Identifiers",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Delete Keys" : {
            "displayName" : "Delete Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Delete Keys",
            "sensitive" : false
          },
          "Record Reader" : {
            "displayName" : "Record Reader",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Record Reader",
            "sensitive" : false
          },
          "Quote Table Identifiers" : {
            "displayName" : "Quote Table Identifiers",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Quote Table Identifiers",
            "sensitive" : false
          },
          "Schema Name" : {
            "displayName" : "Schema Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema Name",
            "sensitive" : false
          },
          "Database Session AutoCommit" : {
            "displayName" : "Database Session AutoCommit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Session AutoCommit",
            "sensitive" : false
          },
          "Unmatched Field Behavior" : {
            "displayName" : "Unmatched Field Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unmatched Field Behavior",
            "sensitive" : false
          },
          "Database Name" : {
            "displayName" : "Database Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Name",
            "sensitive" : false
          },
          "Allow Multiple SQL Statements" : {
            "displayName" : "Allow Multiple SQL Statements",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Allow Multiple SQL Statements",
            "sensitive" : false
          },
          "Rollback On Failure" : {
            "displayName" : "Rollback On Failure",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Rollback On Failure",
            "sensitive" : false
          },
          "Update Keys" : {
            "displayName" : "Update Keys",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Update Keys",
            "sensitive" : false
          },
          "Field Containing SQL" : {
            "displayName" : "Field Containing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Field Containing SQL",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          },
          "Data Record Path" : {
            "displayName" : "Data Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Record Path",
            "sensitive" : false
          },
          "Statement Type Record Path" : {
            "displayName" : "Statement Type Record Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type Record Path",
            "sensitive" : false
          },
          "Column Name Translation Pattern" : {
            "displayName" : "Column Name Translation Pattern",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Pattern",
            "sensitive" : false
          },
          "Column Name Translation Strategy" : {
            "displayName" : "Column Name Translation Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Column Name Translation Strategy",
            "sensitive" : false
          },
          "Binary String Format" : {
            "displayName" : "Binary String Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Binary String Format",
            "sensitive" : false
          },
          "Unmatched Column Behavior" : {
            "displayName" : "Unmatched Column Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unmatched Column Behavior",
            "sensitive" : false
          },
          "Database Type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Type",
            "sensitive" : false
          },
          "Post-Processing SQL" : {
            "displayName" : "Post-Processing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Post-Processing SQL",
            "sensitive" : false
          },
          "Translate Field Names" : {
            "displayName" : "Translate Field Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Translate Field Names",
            "sensitive" : false
          },
          "Statement Type" : {
            "displayName" : "Statement Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Statement Type",
            "sensitive" : false
          },
          "Pre-Processing SQL" : {
            "displayName" : "Pre-Processing SQL",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Pre-Processing SQL",
            "sensitive" : false
          },
          "Table Schema Cache Size" : {
            "displayName" : "Table Schema Cache Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Schema Cache Size",
            "sensitive" : false
          },
          "Maximum Batch Size" : {
            "displayName" : "Maximum Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Batch Size",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "e546f066-3153-3573-a1f0-13ddfdc0c6e2",
        "maxBackoffPeriod" : "10 mins",
        "name" : "GenerateFlowFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 544.0,
          "y" : -520.0
        },
        "properties" : {
          "File Size" : "0B",
          "Batch Size" : "1",
          "Unique FlowFiles" : "false",
          "Character Set" : "UTF-8",
          "Data Format" : "Text"
        },
        "propertyDescriptors" : {
          "File Size" : {
            "displayName" : "File Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Size",
            "sensitive" : false
          },
          "Batch Size" : {
            "displayName" : "Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Batch Size",
            "sensitive" : false
          },
          "Unique FlowFiles" : {
            "displayName" : "Unique FlowFiles",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Unique FlowFiles",
            "sensitive" : false
          },
          "Mime Type" : {
            "displayName" : "Mime Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Mime Type",
            "sensitive" : false
          },
          "Custom Text" : {
            "displayName" : "Custom Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Text",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Data Format" : {
            "displayName" : "Data Format",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Format",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "5 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2.8.0"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "PRIMARY",
        "groupIdentifier" : "9853f8b6-b2ad-339e-88e7-c2c2d688a721",
        "identifier" : "ed02534e-54d6-3553-8db9-7c5f59df1f5c",
        "maxBackoffPeriod" : "10 mins",
        "name" : "QueryDatabaseTable",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -152.0,
          "y" : -288.0
        },
        "properties" : {
          "Table Name" : "dbo.test",
          "Max Wait Time" : "0 seconds",
          "Database Connection Pooling Service" : "fcabfed2-4d05-3828-89c3-0650dcf8da1a",
          "Default Decimal Scale" : "0",
          "Maximum-value Columns" : "ID",
          "Initial Load Strategy" : "Start at Beginning",
          "Fetch Size" : "0",
          "Output Batch Size" : "0",
          "Use Avro Logical Types" : "false",
          "Normalize Table and Column Names" : "false",
          "Database Type" : "MS SQL 2012+",
          "Max Rows Per FlowFile" : "0",
          "Default Decimal Precision" : "10",
          "Maximum Number of Fragments" : "0"
        },
        "propertyDescriptors" : {
          "Table Name" : {
            "displayName" : "Table Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table Name",
            "sensitive" : false
          },
          "Set Auto Commit" : {
            "displayName" : "Set Auto Commit",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Set Auto Commit",
            "sensitive" : false
          },
          "Max Wait Time" : {
            "displayName" : "Max Wait Time",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Wait Time",
            "sensitive" : false
          },
          "Database Connection Pooling Service" : {
            "displayName" : "Database Connection Pooling Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Connection Pooling Service",
            "sensitive" : false
          },
          "Default Decimal Scale" : {
            "displayName" : "Default Decimal Scale",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Scale",
            "sensitive" : false
          },
          "Maximum-value Columns" : {
            "displayName" : "Maximum-value Columns",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum-value Columns",
            "sensitive" : false
          },
          "Custom Query" : {
            "displayName" : "Custom Query",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Custom Query",
            "sensitive" : false
          },
          "Initial Load Strategy" : {
            "displayName" : "Initial Load Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Initial Load Strategy",
            "sensitive" : false
          },
          "Fetch Size" : {
            "displayName" : "Fetch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Fetch Size",
            "sensitive" : false
          },
          "Transaction Isolation Level" : {
            "displayName" : "Transaction Isolation Level",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Transaction Isolation Level",
            "sensitive" : false
          },
          "Output Batch Size" : {
            "displayName" : "Output Batch Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Output Batch Size",
            "sensitive" : false
          },
          "Use Avro Logical Types" : {
            "displayName" : "Use Avro Logical Types",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Avro Logical Types",
            "sensitive" : false
          },
          "Normalize Table and Column Names" : {
            "displayName" : "Normalize Table and Column Names",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Normalize Table and Column Names",
            "sensitive" : false
          },
          "Database Type" : {
            "displayName" : "Database Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database Type",
            "sensitive" : false
          },
          "Columns to Return" : {
            "displayName" : "Columns to Return",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Columns to Return",
            "sensitive" : false
          },
          "Max Rows Per FlowFile" : {
            "displayName" : "Max Rows Per FlowFile",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max Rows Per FlowFile",
            "sensitive" : false
          },
          "Default Decimal Precision" : {
            "displayName" : "Default Decimal Precision",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Default Decimal Precision",
            "sensitive" : false
          },
          "Database Dialect Service" : {
            "displayName" : "Database Dialect Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Database Dialect Service",
            "sensitive" : false
          },
          "Maximum Number of Fragments" : {
            "displayName" : "Maximum Number of Fragments",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Maximum Number of Fragments",
            "sensitive" : false
          },
          "Additional WHERE Clause" : {
            "displayName" : "Additional WHERE Clause",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Additional WHERE Clause",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "DISABLED",
        "schedulingPeriod" : "1 min",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ef28c13f-e6c8-3b35-96d4-94ce30606f82",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -192.0,
        "y" : -40.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "8a180bb9-26a5-480c-976a-3ca4da826e1c",
    "flowIdentifier" : "API-FLOW",
    "timestamp" : 1777457020762
  }
}